  .featured-work{
            /* text-align: center; */
            width: 100%;
            /* max-width: 1200px; */
            background-color: #003049;
            
         }
         .featured-work h1{
            color: #CCD5AE;
            padding: 50px;
         }
         .project-cards {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 30px;
            padding: 20px;
            
         }
         .project-card{
            /* display: flex; */
            flex-direction: column;
            align-items: center;
            /* justify-content: flex-start; */
            width: 1000px;
            /* height: 300px; */
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 2px 6px;
            margin: 10px;
            background-color: white;
            margin-left: 260px;
            padding: 30px;
         }

         .project-card img{
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
            border-radius: 10px;
            margin-right: 1000px;
         }
         .btn-open {
          background-color: rgb(196, 196, 9);
          color: rgb(228, 223, 223);
          border-radius: 10px;
          width: 500px;
          margin-left: 400px;
         }