.Todo-B{
    background-color: #E36414;
    height: 650px;
    padding: 250px;
}
.Todo-p{
    margin-left: 280px;
}
.complete-list {
   list-style:  none;
   display: grid;
   grid-template-columns: 1fr 0.25fr, 0.25fr ;
   width: 350px;
   margin-top: 10px;
}
.complete-list button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}
.check-btn {
    background-color: yellow;
    color: white;
}
.check-btn {
    background-color: red;
    color: white;
}
.checked span{
    text-decoration:line-through;
    color: gray;
}
.s-btn{
    background-color: #FBA04B;
    ;
}