.complete-list {
   list-style:  none;
   display: grid;
   grid-template-columns: 1fr 0.25fr, 0.25fr ;
   width: 350px;
   margin-top: 10px;
}
.complete-list button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}
.check-btn {
    background-color: yellow;
    color: white;
}
.check-btn {
    background-color: red;
    color: white;
}
.checked span{
    text-decoration:line-through;
    color: gray;
}