.weather{
  border: 2px solid #000;
  border-radius: 10px;
  height: 250px;
  justify-content: center;
}
.input{
    width: 150px;
    height: 30px;
    border-radius: 10px;
  border: 2px solid #153adf;
}
.bton{
    background-color: rgb(21, 21, 208);
    height: 40px;
    padding: 10px;
    margin-left: 5px;
}